/* General Button Styling */
.button {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #e51b24;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button a:hover {
  background-color: #d81d26ff;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Panel Styling */
.panel {
  padding: 15px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  /* Max width for the panel */
  margin: 20px auto;
  /* Center the panel */
}

/* Table Styling */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
  /* Prevent table from overflowing */
}

table thead {
  background-color: #e51b24;
  color: #fff;
  text-align: left;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  /* Smaller font size */
}

table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e6f7ff;
}

/* Hidden Sections */
#saw,
#wp {
  display: none;
}

.card-rank {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.card-header {
  background-color: #e51b24;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  /* Smaller font size for header */
  font-weight: bold;
}

.card-body {
  display: flex;
  padding: 15px;
  font-size: 14px;
  color: #333;
}

.card-body p {
  margin-bottom: 12px;
  font-size: 16px;
  /* Adjusted font size */
  font-weight: bold;
}

.card-body ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-body ul li {
  margin: 6px 0;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  /* Adjusted font size */
  color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body ul li strong {
  color: #e51b24;
}

/* Make tables responsive */
@media (max-width: 768px) {
  table {
    font-size: 12px;
    /* Smaller font size for small screens */
  }

  .button a {
    font-size: 12px;
    /* Smaller buttons */
  }

  .panel {
    padding: 10px;
  }

  .card-header {
    font-size: 16px;
  }

  .card-body p {
    font-size: 14px;
  }
}

.card-pie {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 5px;
  border: 1px solid #e51b24;
}

.dropdown-normalisasi {
  color: #e51b24;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e51b24;
  margin: 10px;
}
